

<div class="panel panel-default" id="dv_topic_panel">
    <div class="panel-heading  p-none">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#divTopicPanelBody">
                Topics
            </a>
        </h4>
    </div>
    <div id="divTopicPanelBody" class="accordion-body collapse">
        <div class="panel-body">
            @using (Html.BeginForm("AddTopic", "Course", FormMethod.Post, new { enctype = "multipart/form-data", id = "topicForm" }))
            {
                <div class="row">
                    <label id="topicSuccessMessage" class="text-success"></label>
                    <label id="topicErrorMessage" class="text-danger"></label>
                </div>
                <div class="row">
                    <div class="form-group col-md-5">
                        <label class="control-label" for="inputDefault">Topic Name</label>
                        <div class="">
                            <input type="text" id="TopicName" name="TopicName" class="form-control" maxlength="1000" required="required" />
                            <input type="hidden" id="CourseID" name="CourseID" />
                            <input type="hidden" id="TopicID" name="TopicID" />
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label" for="inputDefault">Description</label>
                        <div class="">
                            <input type="text" id="Description" name="Description" class="form-control" required="required" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="inputDefault">Order No</label>
                        <div class="">
                            <input type="number" id="Order" name="Order" class="form-control" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="inputDefault">Language</label>
                        <div class="">
                            <select id="languageID" name="languageID" class="form-control">
                                <option value="0">-- Select Language --</option>
                                <option value="1" selected>English</option>
                                <option value="2">Hindi</option>
                                <option value="3">Gujarati</option>
                                <option value="4">Marathi</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-5">
                        <label class="control-label">Upload Resource File</label>
                        <span class="text-sm"><a id="aUploadTopicResource" href='#' class="hidden" target="_blank">(View File)</a></span>
                        <input id="TopicResource" name="fileTopicResource" class="file" type="file">
                        <input type="hidden" id="TrainerResource" name="TrainerResource" />
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label">
                            Upload Exercise File
                            <span class="text-sm"><a id="aUploadTopicExercise" class="hidden" href='#' target="_blank">(View File)</a></span>
                        </label>
                        <input id="TopicExercise" name="fileTopicExercise" class="file" type="file">
                        <input type="hidden" id="TrainerExercise" name="TrainerExercise" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label col-md-12">&nbsp;</label>
                        <input id="btnAddTopic" type="submit" value="Add" class="btn btn-primary" />
                        <input type="button" onclick="ResetTopicForm()" value="Cancel" class="btn btn-default" />
                    </div>
                </div>
                <h4>Topic List</h4>
                <div class="table-responsive">
                    <table id="tblTopicList" class="table table-condensed table-bordered table-striped table-hover mb-none">
                        <thead>
                            <tr>
                                <th width="40px">#</th>
                                <th>Order</th>
                                <th>Topic</th>
                                <th>Description</th>
                                <th>Resource File</th>
                                <th>Exercise File</th>
                                <th>Language</th>
                                <th width="60px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <th>@ViewBag.Order</th>
                                <th>@ViewBag.TopicName</th>
                                <th>@ViewBag.Description</th>
                                <th>@ViewBag.TrainerResource</th>
                                <th>@ViewBag.TrainerExercise</th>
                                <th>@ViewBag.LanguageID</th>
                                <td class="actions text-center">
                                    <a href="@Url.Action("Edit", "Topic", new { id = ViewBag.TopicID })"><i class="fa fa-pencil"></i></a>
                                    <a href="@Url.Action("Delete", "Topic", new { id = ViewBag.TopicID })" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>






